
    <nav>
      <h3><%= results.title %></h3>
      <img src="<%= results.image_url %>" alt="" />
      <p><%= results.author %></p>
      <p><%= results.isbn %></p>
      <p class="overflow"><%= results.description %></p>
    </nav>